{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:dev
  {:extra-paths ["notebooks"]
   :extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}}
  :nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/about.clj"]}
   :extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}}
  :quickdoc
  {:deps {org.babashka/cli {:mvn/version "0.4.36"}
          io.github.borkdude/quickdoc
          {:deps/root "jvm"
           :git/sha "c5320cbe311b651a60b47f4d00d7e8ab63291b6e"}}
   :main-opts ["-m" "babashka.cli.exec" "quickdoc.api" "quickdoc"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.2" :git/sha "fe6b140"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  :neil {:project {:name io.github.bsless/ring.middleware.tools}}}}
